@media screen and (max-width: 1200px) {
   .container {
   width: 1440px;
   }
   .artist__inner {
      .artist__list {
         grid-template-columns: minmax(auto, 245px) minmax(auto, 245px) minmax(auto, 245px);
      }
   }
   }
   
   @media screen and (max-width: 1199px) {
   .container {
   width: 960px;
   }
   .partners__inner {
      .partners__block {
         grid-template-columns: minmax(auto, 322px) minmax(auto, 322px);
      }
   }
   .team__inner {
      .team-block {
         grid-template-columns: 320px;
      }
   }


}
   
   @media screen and (max-width: 991px) {
   .container {
   width: 720px;
   }



   .artist__inner {
      .artist__list {
         grid-template-columns: minmax(auto, 245px) minmax(auto, 245px);
      }
   }
   .mrl__inner {
      .menu {
         display: block;
      }
      .menu-btn {
         display: flex;
      }
    }
    .discord__inner {
      .discord__column {
         margin: 0px auto;
         img {
            display: none;
         }
      }
   }
   .partners__inner {
      .partners__block {
         grid-template-columns: minmax(auto, 322px);
      }
   }
   .record-label__inner {
      .waves {
         display: none;
      }
   }
   .faq__inner {
      .faq__block {
         display: block;
      }
      .faq__column {
         margin: 0px auto;
         .column__title {
            text-align: center;
         }
         img {
            display: none;
         }
      }
   }
   
   }

   @media screen and (max-width: 720px) {
      
      .header__inner {
         .header__menu {
            display: none;
         }
         .mobile__menu {
            display: flex;
         }
         .header__mobile {
            display: block;
         }
      }

      .nft__inner {
         .nft__row {
            display: block;
            .nft__column {
               margin: 0px auto;
            }
         } 
      }
      
      .mrl__inner {
         .menu {
            .menu-btn {
               display: block;
            }
         }
         .menu-info {
            .menu__item {
               img {
                  display: none;
               }
            }
         }
      }
      .artist__inner {
         .artist__list {
            grid-template-columns: 245px;
            justify-content: center;
         }
      }
      .mrl__inner {
         max-width: 100%;
      }

      footer {
         .footer__inner {
            .footer__block {
               display: grid;
               justify-content: center;
            }
         }
      }

      }

   
   
   @media screen and (max-width: 575px) {
   .container {
   width: 100%;
   padding: 0 15px;
   }

   .nft__inner {
      .nft__row {
         display: block;
      }
   }
   .mrl__inner {
      .menu-info {
         .menu__item {
            img {
               display: none;
            }
         }
      }
   }
   }